:root {
  --main-red: #f72210;
  --main-gray: #a0a0a0;
  --light-blue: #3581f4;
  --weak-gray: #bababa;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.bg-white {
  background: white;
}

.container-max {
  background: #f4f5f6;
}

.container-fluid {
  background: white;
}

.text-black {
  color: black !important;
}

.text-red {
  color: var(--main-red);
}

.font-size-14 {
  font-size: 14px;
}

.top-nav {
  background: var(--main-red);
  color: white;
  padding: 0 15px;
  flex-wrap: wrap;
}

.nav-left .navbar-brand {
  width: 120px;
  fill: white;
}

.nav-left img {
  height: 20px;
  width: 20px;
}

.nav-right a,
.nav-left a {
  color: white;
}

.nav-middle {
  order: 0;
  display: none;
}

.nav-middle a svg {
  width: 200px;
  fill: white;
}

.nav-right {
  flex-direction: row;
  color: white;
}

.nav-right li:nth-child(2) a {
  background: white;
  color: var(--main-red);
  margin-left: 10px;
  padding: 0 10px;
  margin-right: 10px;
}

.nav-right li:nth-child(2) svg {
  margin-left: 10px;
}

.navbar .nav-left-text .navbar-text {
  display: none;
}

.nav-col {
  background: white;
  margin-top: 19px;
  height: 89px;
  position: relative;
  margin-top: 4px;
  height: fit-content;
  display: block;
}

.nav-col:after {
  content: "";
  position: absolute;
  border-top: 15px solid var(--main-red);
  border-left: 10px solid transparent;
  border-right: 0px solid transparent;
  height: 0;
  width: 87px;
  right: 0px;
  top: -1px;
  z-index: 99;
}

.nav-bottom {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
}

.nav-bottom ul {
  list-style: none;
  padding-right: 188px;
  margin-top: 18px;
  margin-left: -33px;
}

.nav-bottom ul li {
  flex-grow: 1;
  border-right: 1px solid #d9d9d9;
  text-align: center;
}

.nav-bottom .input-nav svg {
  color: black;
}

.nav-bottom ul li a {
  color: black;
}

.nav-bottom ul li a:hover {
  color: red;
  text-decoration: none;
}

.nav-bottom .input-nav {
  position: absolute;
  width: 95px;
  top: 12px;
  right: 88px;
  display: flex;
  align-items: baseline;
}

.nav-bottom .input-nav input {
  border: none;
  margin-right: 4px;
}

.section-1 .item {
  border: none;
  margin-bottom: 10px;
}

.section-1 .column2 .row .small-middle-col .item .article-classification,
.section-1 .item .article-classification,
.section-1-sm .card .blue {
  display: block;
  padding: 0px 4px 0px;
  background-color: #c2d4d7;
  bottom: 0;
  left: 0;
  z-index: 1;
  color: #373a3a;
}

.section-2 .article-classification,
.section-3 .article-classification {
  display: block;
  padding: 0px 4px 0px;
  background-color: #c2d4d7;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  color: #373a3a;
}

.section-1 .column2 .row .small-middle-col .item .item-body {
  color: var(--weak-gray);
}

.section-1 .small-middle-col .item .article-classification a {
  color: #373a3a;
  font-size: 11px;
}

.section-1 .title-page {
  color: var(--main-gray);
}

.section-1 .item img {
  position: relative;
}

.section-1 .item a {
  color: black;
}

.section-1 .item-sponsor .item-body {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.section-1 .item .article-classification a {
  color: var(--main-red);
}

.section-1 .item-sponsor .article-classification a {
  color: var(--light-blue);
}

.section-1 .column1 .item .article-classification {
  display: block;
  text-transform: uppercase;
  padding: 8px 15px 9px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.section-1 .item .title-p .article-classification {
  display: block;
  text-transform: uppercase;
  padding: 8px 15px 9px;
  background-color: rgba(255, 255, 255, 0.9);
  bottom: 0;
  left: 0;
  z-index: 1;
}

.section-1 .column2 .more-stories {
  border-top: 1px solid var(--weak-gray);
  padding-top: 15px;
}

.section-1 .item .item-body {
  padding: 0 0.2rem;
}

.section-1 .opinion-item-1 {
  border-bottom: 1px solid var(--weak-gray);
  margin-top: 15px;
}

.section-1 .opinion-item-3 {
  border-bottom: 1px solid var(--weak-gray);
  margin-top: 15px;
  padding-bottom: 10px;
}

.section-1 .opinion-item-1 .title,
.section-1 .opinion-item-3 .title {
  color: black;
  font-size: 15px;
}

.section-1 .opinion-item-1 .sub-title {
  font-size: 15px;
}

.section-1 .opinion-item-2 .title {
  color: black;
  font-size: 15px;
}

.section-1 .opinion-item-2 {
  position: relative;
}

.section-1 .opinion-item-2-sub-item {
  margin-top: 20px;
  position: relative;
}

.section-1 .opinion-item-2-sub-item p {
  position: relative;
  margin-top: 13px;
  border-top: 1px solid var(--weak-gray);
  width: 100%;
}

.section-1 .opinion-item-2-sub-item::before {
  content: "";
  display: block;
  background-color: #d9d9d9;
  height: 1px;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
}

.section-1 .opinion-item-2-sub-item img {
  position: absolute;
  left: 77%;
  width: auto;
  height: 100%;
}

.section-1 .item .article-classification {
  display: block;
  text-transform: uppercase;
  padding: 8px 15px 9px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.section-1 .newsletter {
  max-width: 250px;
  border: 1px solid #e5e5e5;
  background-color: #f4f5f6;
}

.section-1 .newsletter a {
  color: #333;
}

.section-1 .column3 .newsletter span {
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain
    no-repeat #f72210;
  display: flex;
  height: 29px;
  width: 51px;
}

.section-1 .newsletter > .card-body > h4 {
  font-size: 16px;
}

.section-1 .newsletter .card-body button {
  padding: 10px 10px 10px 12px;
  color: white;
  font: bold 18px/18px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  background: #666;
  border-radius: 0;
  border: none;
}

.section-1 .newsletter .card-body button:hover {
  background: #999;
}

.middle-page-separator {
  border-bottom: 1px solid var(--main-gray);
}

.middle-page-separator .span-logo {
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain
    no-repeat #f72210;
  display: flex;
  height: 29px;
  width: 51px;
}

.section-2 .card {
  border: none;
}

.section-2 .in-the-mag-img .img-container {
  display: block;
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
}

.section-2 .in-the-mag-img img {
  transform: translate(-50%, 0%);
  position: absolute;
  top: 0;
  left: 50%;
  width: auto;
  height: 100%;
  max-width: inherit;
}

.section-2 .in-the-mag-img .card-body h6 {
  margin-left: -20px;
}

.section-2 .in-the-mag-img .title span {
  background: var(--main-red);
  color: white;
  padding: 7px 5px;
}
.section-2 .in-the-mag-img a {
  color: var(--main-red);
}

.section-3 .item .card-body {
  height: 200px;
}

.logo-slideshow:after {
  border-bottom: 3px solid red;
  border-right: 3px solid red;
  display: block;
  content: "";
  width: 26px;
  height: 25px;
  position: absolute;
  bottom: -4px;
  right: -4px;
}

.section-4 .gall-class {
  width: 78px;
  line-height: 58px;
  text-indent: 5px;
  text-align: center;
  background: url(https://g.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png)
    0 0 / contain no-repeat;
  color: #e9212e;
  bottom: 0;
  left: 0;
}

.last-section {
  border-bottom: none;
}

.section-6 .imgs {
  width: 400px;
}

.section-6 .img-2 {
  top: 21px;
  left: 44px;
}

.section-6 .jumbotron {
  background: #f4f5f6;
  height: 330px;
}

.section-6 .item-2 .imgs {
  background: url("https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&h=265&q=90&f=742bce9a6f72dd8f19ba2e7fd5db06e5")
    center center / cover no-repeat;
}

footer .footer-brand svg {
  width: 240px;
  fill: var(--main-red);
}

.footer .social-links svg {
  font-size: 25px;
  margin-left: 10px;
  color: var(--main-gray);
}

footer .footer-list {
  list-style: none;
}

.section-1-sm {
  display: none;
}

@media screen and (min-width: 992px) {
  .container-max {
    padding: 0 20px;
  }

  .top-nav {
    justify-content: space-between;
  }

  .nav-left {
    display: block;
    margin-left: 26px;
    order: 0;
  }

  .nav-left .navbar-brand {
    display: none;
  }

  .nav-right {
    order: 0;
  }

  .nav-middle {
    order: 0;
    display: block;
  }

  .nav-left .nav-left-text {
    margin-left: 10px;
  }

  .nav-middle a svg {
    width: 350px;
    fill: white;
  }

  .navbar .nav-left-text .navbar-text {
    display: inline-block;
  }

  .padding-col-0 {
    padding: 0;
  }
}

@media screen and (max-width: 661px) {
  .nav-left .nav-link span {
    display: none;
  }
}

@media screen and (max-width: 667px) {
  .section-1-sm {
    display: block;
  }

  .section-1-lg {
    display: none;
  }

  .container-fluid {
    background: transparent;
  }
  .section-1 .title-page {
    font-size: 16px;
  }

  .more-stories .media-body h5 {
    color: black;
    font-size: 15px;
    font-weight: 900;
  }

  .more-stories .media-body p {
    font-size: 13px;
  }
}

@media screen and (max-width: 503px) {
  .nav-right {
    font-size: 12px;
    align-items: baseline;
  }

  .nav-right li:nth-child(2) a {
    padding: 0 1px;
  }

  .nav-right li:nth-child(2) a svg {
    display: none;
  }
}
@media screen and (max-width: 426px) {
  .nav-left li:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 377px) {
  .top-nav {
    width: 350px;
    flex-wrap: nowrap;
  }

  .nav-right {
    font-size: 12px;
    align-items: stretch;
    white-space: nowrap;
  }
}
